<link rel="stylesheet" type="text/css" href="/css/register.css">

<div id="registration-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form method="POST" action="/checkout" class="register-form">

        <div class="row">
            <div class="input-field col s12">
                <h3>Checkout</h3>
                <h5>Total: ${{total}} </h5>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_box</i>
                <input class="validate" id="name" name="card-name" type="text">
                <label for="card-name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment_ind</i>
                <input class="validate" id="address" name="address" type="text" pattern=".{4,15}">
                <label for="address" data-error="* Length should be between 4-15 characters">Address</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">card_membership</i>
                <input class="validate" id="card-name" name="card-name" type="text">
                <label for="card-name" data-error="* Please enter a valid email address">Card Holder Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">credit_card</i>
                <input id="card-number" name="card-number" type="text">
                <label for="card-number">Card Number</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">date_range</i>
                <input id="card-expiry-month" name="card-expiry-month" type="text">
                <label for="card-expiry-month">Card Expiry Month</label>
            </div>
            <div class="input-field col s6">
                <input id="card-expiry-year" name="card-expiry-year" type="text">
                <label for="card-expiry-year">Card Expiry Year</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input id="card-cvc" name="card-cvc" type="password">
                <label for="card-cvc">CVC Code</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light col s12" type="submit">Complete Payment</button>          
            </div>
            {{#if hasErrors}}
            <div class="input-field col s12" style="color: red">
                {{#each messages}}
                    {{this}}
                    <br>                   
                {{/each}}                    
            </div>
            {{/if}}
        </div>

        </form>
    </div>
</div>

<script src="/js/register.js" type="text/javascript"></script>
