<div>
    <h1>asdasdasdasdadsasdsadsads
        asdasdasdasdasdsadasdsad
        adsasdsadsadasdsadsadas
    </h1>
</div>


{{#if isAuthenticated}}
    <a href="/logout">Logout</a>
    <h1>{{user.id}}</h1>
{{/if}}  
               


<script>
    
</script>  
          
