<link rel="stylesheet" type="text/css" href="/css/login.css">

<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form method="POST" action="/login" class="login-form">

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment_ind</i>
                <input class="validate" name="email" id="email" type="text" pattern=".{4,50}">
                <label for="email" data-error="* Length should be between 4-15 characters">User ID / Email</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">lock_outline</i>
                <input name="password" id="password" type="password">
                <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light col s12" type="submit" name="action">Login</button>          
            </div>
            
            {{#if hasErrors}}
            <div class="input-field col s12" style="color: red">
                {{#each messages}}
                    {{this}}
                    <br>                   
                {{/each}}                    
            </div>
            {{/if}}

            <div class="input-field col s12 divider"></div>
            <div class="col s12 center-align">
                <span>- OR -</span>
            </div>
            
            <div class="input-field col s12 offset-s2">
                <a class="btn waves-effect waves-light col s8" href="/register">Register</a>
            </div>
        </div>

        </form>
    </div>
</div>

<script src="/js/login.js" type="text/javascript"></script>
