<link rel="stylesheet" type="text/css" href="/css/register.css">

<div id="registration-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form method="POST" action="/api/products" class="register-form">

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">business</i>
                <input class="validate" id="productName" name="productName" type="text">
                <label for="productName">Product Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">border_color</i>
                <input class="validate" id="productDescription" name="productDescription" type="text">
                <label for="productDescription">Product Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input class="validate" id="productPrice" name="productPrice" type="text">
                <label for="productPrice">Selling Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">attach_money</i>
                <input id="productPurchasePrice" name="productPurchasePrice" type="text">
                <label for="productPurchasePrice">Purchase Price</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">camera_alt</i>
                <input class="validate" id="productImage" name="productImage" type="text">
                <label for="productImage">Product Image</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button class="btn waves-effect waves-light col s12 asd" type="submit">Add Product</button>          
            </div>
            {{#if hasErrors}}
            <div class="input-field col s12" style="color: red">
                {{#each messages}}
                    {{this}}
                    <br>                   
                {{/each}}                    
            </div>
            {{/if}}
        </div>

        </form>
    </div>
</div>

<script src="/js/register.js" type="text/javascript"></script>
